.news-table {
    display: flex;
    flex-direction: column;
    background-color: var(--background-light);
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box; /* Asegura que el padding y el borde estén incluidos en el ancho y alto */
}

.table-header,
.table-row {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid var(--border-color);
    box-sizing: border-box; /* Asegura que el padding y el borde estén incluidos en el ancho y alto */
}

.table-header {
    background-color: var(--primary-color);
    color: var(--text-primary);
    font-weight: bold;
}

.table-row:hover {
    background-color: var(--hover-color);
}

.header-item,
.table-item {
    flex: 1;
    padding: 10px;
    box-sizing: border-box; /* Asegura que el padding y el borde estén incluidos en el ancho y alto */
}

.header-item:nth-child(1),
.table-item:nth-child(1) {
    flex: 0 0 100px; /* Ancho fijo para columna de imagen */
    text-align: center;
}

.header-item.actions,
.table-item.actions {
    flex: 0 0 150px; /* Ancho fijo para la columna de acciones */
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.news-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
}

.image-container {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background-light);
}

.news-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    min-width: 100%;
    min-height: 100%;
}

.actions .btn-edit,
.actions .btn-delete {
    background: none;
    border: none;
    color: var(--text-primary);
    cursor: pointer;
    transition: color 0.3s;
}

.actions .btn-edit:hover,
.actions .btn-delete:hover {
    color: var(--secondary-color);
}

.actions .btn-delete:hover {
    color: var(--status-error);
}