/* En tu archivo CSS */
.pagination-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.pagination {
    display: flex;
    gap: 0.5rem;
}

.pagination li {
    list-style: none;
}

.pagination li a,
.pagination li span {
    padding: 0.5rem 1rem;
    border: 1px solid var(--text-primary);
    border-radius: 4px;
    text-decoration: none;
    color: var(--text-primary);
}

.pagination li.active span {
    background-color: var(--primary-color);
    color: var(--text-primary-color);
    border-color: var(--text-primary-color);
}

.pagination li a:hover {
    background-color: var(--secundary-color);
}