:root {
    --background-main: #121212;
    --background-light: #2C2F33;
    --primary-color: #cc7a39;
    --secundary-color: #FFA462;
    --text-primary: #f4f4f4;
    --text-secondary: #F2F2F5;
    --border-color: #343A40;
    --hover-color: #2C2F33;

    --status-success: #06C270;
    --status-success-hover: #06a25f;
    --status-error: #c20606;
    --status-error-hover: #a20606;
    --status-warning: #FFCC00;
    --status-warning-hover: #FFB300;
    --status-info: #066ac2; 
    --status-info-hover: #0654a2;
}